<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <link rel="stylesheet" href="/css/index.css">
    <title>Six Degrees of WikiPedia</title>
</head>
<body>
    <h1>Six Degrees of WikiPedia</h1> 
    <div class="search-paths">
        <h2>Find the shortest path from</h2> 
        <form action="/" method="post">
            <input type="text" id="startNode" name="startNode" placeholder="wiki page 1" required>
            - TO - <input type="text" id="endNode" name="endNode" placeholder="wiki page 2" required><br>
            <input id="search-button" type="submit" value="SEARCH">
            <!-- <button id="search-button">SEARCH</button> -->
        </form>
    </div>
    <div id="foundText">
        <%= message %>
    </div>
    <script src="/js/loading.js"></script>
    <!-- <script src="/js/queue.js"></script> -->
    <!-- <script src="/js/index.js"></script> -->
</body>
</html>