<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap"> 
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Six Degrees of WikiPedia</title>
</head>
<body>
    <div class="header">
        <div class="about">about</div>
    </div>
    <div class="about-open">Six Degrees of WikiPedia is all about finding the <b>shortest path between any two WikiPedia pages</b>. It is based on the fact that all wiki pages are six or fewer connections (hyperlinks on the wiki page) away from each other.<br>As a result, a chain of connections can be made to connect any two wiki pages in a maximum of six steps, if possible.<br>It is inspired by the idea of <i><a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation" target="_blank">Six degrees of separation</a></i> and the <a href="https://www.sixdegreesofwikipedia.com/" target="_blank">original creation</a>. </div>

    <h1>Six Degrees of WikiPedia</h1> 
    <div class="search-paths">
        <h2>Find the shortest path from</h2> 
        <form action="/" method="post">
            <div class="form-container">
                <input type="text" id="startNode" name="startNode" placeholder="wiki page 1" required>
                <span> - TO - </span>
                <input type="text" id="endNode" name="endNode" placeholder="wiki page 2" required>
            </div>
            <br>
            <input id="search-button" type="submit" value="SEARCH">
            <!-- <button id="search-button">SEARCH</button> -->
        </form>
    </div>
    <div id="foundText">
        <%= message %>
    </div>

    <div class="footer">
        <p>Made with <span style="color: rgb(255, 0, 0); font-size: 20px;">&#10084;</span> by <a class="namePlate" target="_blank" href="https://sashbros.itch.io">Sarvagna Shukla</a></p>
    </div>
    <script src="/js/loading.js"></script>
    <script src="/js/background.js"></script>
    <!-- <script src="/js/queue.js"></script> -->
    <!-- <script src="/js/index.js"></script> -->
</body>
</html>